.container {
  width: 100%;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.holidaysWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 80px;
  gap: 20px;
}

.inputWrapper {
  text-align: center;
  margin-bottom: 50px;
}

.inputWrapper input {
  padding: 10px;
  width: 400px;
  margin: auto;
}
